{% extends 'base.html' %}

{% block title %}LMLDBX α{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col" id="decagon-col">
      {% set D = 800 %}
      {% set I = (50/2) %}
      <div id="decagon-container" style="background-size: {{D}}px {{D}}px; width: {{D}}px; height: {{D}}px;">
        <img style="left:{{(0.500*D)-I}}px;top:{{(0.03*D)-I}}px;" src="{{ url_for('static', filename='img/elements/work.svg', _external=True) }}" title="Work"/>
        <img style="left:{{(0.250*D)-I}}px;top:{{(0.10*D)-I}}px;" src="{{ url_for('static', filename='img/elements/being.svg', _external=True) }}" title="Being"/>
        <img style="left:{{(0.750*D)-I}}px;top:{{(0.10*D)-I}}px;" src="{{ url_for('static', filename='img/elements/organization.svg, _external=True') }}" title="Organization"/>
        <img style="left:{{(0.075*D)-I}}px;top:{{(0.36*D)-I}}px;" src="{{ url_for('static', filename='img/elements/concept.svg, _external=True') }}" title="Concept"/>
        <img style="left:{{(0.925*D)-I}}px;top:{{(0.36*D)-I}}px;" src="{{ url_for('static', filename='img/elements/place.svg, _external=True') }}" title="Place"/>
        <img style="left:{{(0.075*D)-I}}px;top:{{(0.62*D)-I}}px;" src="{{ url_for('static', filename='img/elements/language.svg, _external=True') }}" title="Language"/>
        <img style="left:{{(0.925*D)-I}}px;top:{{(0.62*D)-I}}px;" src="{{ url_for('static', filename='img/elements/time.svg, _external=True') }}" title="Time"/>
        <img style="left:{{(0.250*D)-I}}px;top:{{(0.90*D)-I}}px;" src="{{ url_for('static', filename='img/elements/event.svg, _external=True') }}" title="Event"/>
        <img style="left:{{(0.750*D)-I}}px;top:{{(0.90*D)-I}}px;" src="{{ url_for('static', filename='img/elements/object.svg, _external=True') }}" title="Object"/>
        <img style="left:{{(0.500*D)-I}}px;top:{{(0.97*D)-I}}px;" src="{{ url_for('static', filename='img/elements/string.svg, _external=True') }}" title="String"/>
      </div>
    </div>
  </div>
</div>
{% endblock %}
